@import "../Breakpoints";

.cart {
  min-width: 200px;
  min-height: 100px;
  position: absolute;
  right: 0;
  top: calc(50% + 20px);
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}

.cart--disabled {
  opacity: 0;
}

.cart__header {
  height: 30px;
  border-bottom: 1px solid black;
  position: relative;
}

.cart__header__text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 5px;
}

.cart__header__clearCart {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 5px;
}

.cart__cartItems {
  margin-bottom: 20px;
}

.cart__footer {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid black;
}
