@import "../Breakpoints";

.cart {
  min-width: 200px;
  min-height: 400px;
  position: absolute;
  top: -40px;
  background-color: white;
  border: 1px solid black;
}

.cart--disabled {
  display: none;
}
